@font-face {
  font-family: 'Figtree Extra Bold';
  src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Figtree Medium';
  src: url(assets/fonts/static/Figtree-Medium.ttf);
  font-weight: 500;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-yellow: #f4d04e;
  --color-gray-950: #111111;
  --color-gray-500: #6b6b6b;
  --color-white: #ffffff;

  --font-family-extrabold: 'Figtree Extra Bold', sans-serif;
  --font-family-medium: 'Figtree Medium', sans-serif;

  --font-size-large: 1.5rem;
  --font-size-base: 1rem;
  --font-size-small: 0.875rem;

  --space-300: 1.5rem;
  --space-150: 0.75rem;
  --space-100: 0.5rem;
  --space-50: 0.25rem;
}

body {
  min-block-size: 100vh;
  align-content: center;
  background-color: var(--color-yellow);
}

img {
  display: block;
  max-width: 100%;
}

/* MARK: blog-preview-card */
.blog-preview-card {
  display: grid;
  gap: 1.5rem;
  background-color: var(--color-white);
  box-shadow: 0.5rem 0.5rem 0 0 var(--color-gray-950),
    0 0 0 0.0625rem var(--color-gray-950);
  border-radius: 1.25rem;
  padding: 1.5rem;
  width: calc(5.35vw + 19.1875rem);
  margin-inline: auto;
}

.blog-preview-card__image {
  border-radius: 0.625rem;
}

.blog-preview-card__content {
  display: grid;
  justify-items: start;
  gap: 0.75rem;
}

.blog-preview-card__published-date {
  font-family: var(--font-family-medium);
  font-size: clamp(0.75rem, 2.5vw, 0.875rem);
  line-height: 1.5;
  color: var(--color-gray-950);
}

.blog-preview-card__title {
  font-family: var(--font-family-extrabold);
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  line-height: 1.5;
  color: var(--color-gray-950);
}

.blog-preview-card__description {
  font-family: var(--font-family-medium);
  font-size: clamp(0.875rem, 2.5vw, 1rem);
  line-height: 1.5;
  color: var(--color-gray-500);
}

.blog-preview-card__author {
  font-family: var(--font-family-extrabold);
  font-size: 0.875rem;
  line-height: 1.5;
}

/* MARK: badge */
.badge {
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--color-yellow);
  font-family: var(--font-family-extrabold);
  font-size: 0.875rem;
  line-height: 1.5;
}

/* MARK: avatar */
.avatar {
  width: 2rem;
  aspect-ratio: 1;
}
